body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

li > a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    height: 400px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}

.hero-image {
    width: 480px;
    height: 200px;
    background-color: grey;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}